<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<% if (messages.success) { %>
	<div class="flash flash-success"><%= messages.success %></div>
<% } %>
<div class="hand">
	<div class = "card suitdiamonds" onclick="window.location='/search';">
		<img src="/images/user-obj.jpg" class="image-icon">
		<p>查询</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/form';">
		<img src="/images/submit.png" class="image-icon">
		<p>发布</p>
	</div>
</div>
</html>
